{% from "macros/_icon_macros.html" import icon %}

<nav class="flex py-4 px-4 md:px-8 border-b border-slate-200 bg-white min-h-[68px] relative z-20"
	aria-label="Main navigation">
	<div class="max-w-7xl mx-auto flex flex-wrap items-center gap-6 w-full">
		<a href="/"
			class="min-w-9 inline-flex items-center gap-x-2 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 rounded">
			<span class="text-6xl leading-none text-indigo-600">&amp;</span>
			<span class="flex flex-col leading-tight text-xl tracking-wider uppercase">
				<span>Delvaux</span>
				<span>Fils</span>
			</span>
		</a>

		<div id="collapseMenu" tabindex="-1"
			class="z-90 hidden lg:block max-lg:bg-white max-lg:border-l max-lg:border-slate-300 max-lg:w-1/2 max-lg:fixed max-lg:top-0 max-lg:right-0 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto max-sm:w-full z-50 outline-none">

			<div
				class="py-2 px-4 flex justify-between items-center border-b border-slate-300 sticky top-0 bg-white lg:hidden max-lg:min-h-[68px]">
				<a href="/"
					class="inline-block focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 rounded">
					<span class="">Delvaux & Fils</span>
				</a>
				<button type="button" aria-controls="collapseMenu" id="toggleClose"
					class="cursor-pointer focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 rounded">
					<span class="sr-only">Fermer le menu</span>
					{{ icon(type="close", color="slate-900") }}
				</button>
			</div>

			<!-- <ul
				class="flex flex-col gap-8 font-semibold text-sm text-slate-900 dark:text-slate-50 lg:flex-row max-lg:p-6 lg:ml-12">
				<li>
					<a href="/"
						class="hover:text-blue-700 dark:hover:text-blue-400 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 rounded"
						aria-current="page">Accueil</a>
				</li>
			</ul> -->
		</div>
		<div class="flex items-center gap-4 ml-auto">
			{% if not current_user %}
			<div class="hidden lg:flex items-center gap-2">
				<a href="/login"
					class="text-slate-900 text-sm font-semibold hover:text-blue-700 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 rounded">Connexion</a>
				<a href="/register"
					class="py-2 px-3.5 text-sm rounded-md font-semibold cursor-pointer tracking-wide text-white bg-indigo-600 hover:bg-indigo-800 transition-all focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500">Inscription</a>
			</div>

			<button type="button" aria-controls="collapseMenu" aria-expanded="false" aria-haspopup="true"
				id="toggleOpen"
				class="cursor-pointer lg:hidden focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 rounded">
				<span class="sr-only">Ouvrir le menu</span>
				{{ icon(type="menu") }}
			</button>
			{% else %}
			<div class="relative">
				<div id="user-avatar"
					class="flex gap-2 items-center p-3 bg-indigo-100 rounded-lg border border-indigo-200 hover:cursor-pointer shadow-xs">
					<div
						class="w-10 h-10 rounded-full bg-indigo-600 text-white font-bold flex items-center text-center">
						<span class="w-full">{{current_user.firstname[0].capitalize() + "" + current_user.lastname[0].capitalize()}}</span>
					</div>
					<div class="flex flex-col">
						<span class="text-sm font-bold text-indigo-900">{{current_user.firstname}}
							{{current_user.lastname}}</span>
						<span class="text-xs text-indigo-900">{{current_user.email}}</span>
					</div>
				</div>
				<div id="avatar-dropdown" class="hidden absolute mt-2 p-4 bg-white w-full border border-gray-100 shadow-xl rounded-lg text-center">
					<button id="logout-btn"
						class="text-sm font-medium px-4 py-2 bg-red-100 rounded-md border-red-300 text-red-500 w-full hover:cursor-pointer flex items-center gap-1 justify-center">
						{{ icon(type="logout") }}<span>Logout</span></button>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</nav>