{% from "macros/_form_macros.html" import input_field with context %}

{% extends "layout/main_layout.html" %}

{% block content %}

<section class="bg-white flex flex-col grow">

    <h1 class="px-8 py-6 text-4xl">
        Commentaire
    </h1>

    <div class="flex items-center mx-auto my-8 w-full">

        <div class="mx-auto w-2/3 xl:w-1/2 px-12 py-8 bg-gray-100 rounded-md shadow-xl h-fit">

            <div>
                <h2 class="text-2xl">
                    Ajouter un commentaire
                </h2>

                <hr class="px-12 mt-2 text-gray-300">
            </div>

            <form method="post" class="flex flex-col">

                {{ form.hidden_tag() }}

                <div class="p-6">
                    {{ input_field(
                        form.comment_content,
                        placeholder="Écrivez votre commentaire..."
                    ) }}
                </div>

                <button
                    type="submit"
                    class="bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-2 px-4 rounded inline-flex items-center w-fit mx-auto my-6"
                >
                    <span>Ajouter le commentaire</span>
                </button>

            </form>

        </div>

    </div>

</section>

{% endblock %}